
* {
    box-sizing: border-box;
    /* outline: 2px solid red; */
    outline: none;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    background-color: #6bb0bb;
}

.mainContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.title {
    display: flex;
    flex-direction: column; 
    align-items: center; 
}



.logoFrame {
    height: 100px;
    width: 100px;
}

.logoFrame > img {
    width: 100%;
}



header {
    text-align: center;
    /* width: 75%; */
}

header h1 {
    color: white;
    /* font-family: 'Nunito', sans-serif; */
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 1500;
    /* text-shadow: 2px 2px 2px gray; */
}

.wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.imageUpload {
    display: flex;
    flex-direction: row;
    width: 75%;
    justify-content: center;
}

.cameraIcon {
    height: 70px;
    width: 70px;
    margin: 10px;
}

.cameraIcon > img {
    width: 100%;
}

.cameraInputButton {
    height: 70px;
    width: 70px;
}

.cameraInputButton > img {
    width: 100%;
}

.userPhoto {
    height: 200px;
    width: 200px;
    border: 1px solid white;
    border-radius: 25%;
    box-shadow:
  0 3.3px 2.2px rgba(0, 0, 0, 0.02),
  0 8px 5.3px rgba(0, 0, 0, 0.028),
  0 15.2px 10px rgba(0, 0, 0, 0.035),
  0 27px 17.9px rgba(0, 0, 0, 0.042),
  0 50.6px 33.4px rgba(0, 0, 0, 0.05),
  0 121px 80px rgba(0, 0, 0, 0.07)
;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.userPhoto > img {
    height: 100%;
    border-radius: 25%;
    /* border: 1px solid white; */
}

.selectPhoto {
    color: white;
}

.matchedImage {
    height: 225px;
    width: 100%;
    border-radius: 25%;
    /* border: 1px solid white; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.02),
  0 6.7px 5.3px rgba(0, 0, 0, 0.028),
  0 12.5px 10px rgba(0, 0, 0, 0.035),
  0 22.3px 17.9px rgba(0, 0, 0, 0.042),
  0 41.8px 33.4px rgba(0, 0, 0, 0.05),
  0 100px 80px rgba(0, 0, 0, 0.07)
;
}

.matchedImage > img {
    height: 100%;
    border: 1px solid white;
    border-radius: 25%;
}

  
.dropdown select {
    background-color: #0563af;
    color: white;
    padding: 12px;
    width: 145px;
    border: none;
    font-size: 15px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    -webkit-appearance: button;
    appearance: button;
    outline: none;
  }
  
.dropdown::before {
    /* content: "\f13a"; */
    font-family: FontAwesome;
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    height: 100%;
    text-align: center;
    font-size: 28px;
    line-height: 45px;
    color: rgba(255, 255, 255, 0.5);
    background-color: rgba(255, 255, 255, 0.1);
    pointer-events: none;
  }
  
.dropdown:hover::before {
    color: rgba(255, 255, 255, 0.6);
    background-color: rgba(255, 255, 255, 0.2);
  }
  
.dropdown select option {
    padding: 30px;
  }


.textBox {
    text-align: center;
    color: white;
    font-size: 16px;
     text-shadow: 2px 2px 2px gray;
    

}

.optionButtons {
    display: flex;
    width: 75%;
    justify-content: space-between;
    margin-bottom: 5%;
}

.optionButtons label {
    padding: 1px;
}


.match {
    box-shadow: 0px 10px 14px -7px #276873;
    background: #f25a78d9;
	/* background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%); */
	background-color: #f25a78d9;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:13px 15px;
	text-decoration:none;
	/* text-shadow:0px 1px 0px #3d768a; */
}
/* .match:hover {
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99;
} */
.match:active {
	position:relative;
	top:1px;
}

.newPhotoButton {
    width: 107.84px;
    box-shadow: 0px 10px 14px -7px #276873;
    background: #f25a78d9;
	/* background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%); */
    background-color: #f25a78d9;
    border: .5px solid rgba(255, 255, 255, 0.735);
	border-radius:8px;
	display: block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:13px 32px;
    text-decoration:none;
    text-align: center;
    /* vertical-align: center; */
    line-height: 2.8;
}

.:hover {
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99;
}
.match:active {
	position:relative;
	top:1px;
}



@media (min-width: 768px) {

    .mainContainer {
        justify-content: space-between;
    }
    /* header {
        margin-top: 150px;
    } */
    
    .wrapper {
        height: 70%;
        justify-content: flex-start;
    }

    .title {
        border-bottom: 2px white solid;
    }

    .logoFrame {
        height: 150px;
        width: 150px;
    }

    header {
        width: 75%;
    }

    header h1 {
        font-size: 80px;
    }

    .userPhoto {
        margin-top: 50px;
        height: 400px;
        width: 400px;
    }

    .dropdown {
        margin-top: 50px;
    }

    .matchedImage {
        margin-top: 50px;
        height: 400px;
        width: 100%;
    }

    .optionButtons {
        justify-content: space-evenly;
        margin-top: 50px;
        width: 35%;
    }
}

@media (min-width: 1200px) {

    .wrapper {
        height: 70%;
    }


    .userPhoto {
        height: 400px;
        width: 400px;
    }

    .title {
        border-bottom: 2px white solid;
    }

    .logoFrame {
        height: 150px;
        width: 150px;
    }

    header {
        width: 75%;
    }

    .dropdown {
        margin-top: 50px;
    }

    .matchedImage {
        height: 380px;
        width: 100%;
    }

    .optionButtons {
        justify-content: space-evenly;
        margin-top: 50px;
        width: 25%;
    }
}








